*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --light-pink:#F8F1E7;
    --orange:#D62300;
    --brown:#522414;
    --white: white;
    --black: black;
    --grey:#A8A39D;
}
@font-face {
    font-family: flame-sans;
    src: url(assets/fonts/insaniburger/Insani-regular.ttf);
}
body{
    background-color: var(--light-pink);
    color: var(--brown);
}
/* navbar started */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
     flex-wrap: wrap;
     
   
}
.nav-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 30px;
    gap: 300px;
    
}
 h2{
font-family: flame-sans;
font-weight: 100;
font-size: 2rem;
letter-spacing: 0.10em;

}
.menu-icon{
    font-size: 1.5rem;
    font-weight: 100;
}
.cart-btn{
border-radius: 20px;
color: var(--grey);
border-color: var(--grey);
padding: 10px;
height: 10px;
width: 12px;
}
/* navbar ended */