
@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: insani;
    src: url(assets/fonts/insaniburger/Insani-regular.ttf);
}
@font-face {
    font-family: flame;
    src: url(assets/fonts/Burger-King-Flame/Flame-Regular.otf);

}
@font-face {
    font-family: flame-sans;
    src: url(assets/fonts/flame/fonts/fonnts.com-FlameSans.otf);
}
@font-face {
    font-family: flame-bold;
    src: url(assets/fonts/flame/fonts/fonnts.com-FlameBold.otf);
}
@font-face {
    font-family: flame-regular;
    src: url(assets/fonts/flame/fonts/fonnts.com-FlameRegular.otf);
}
@theme{
    --font-insani:"insani";
    --font-flame:"flame";
    --font-flame-sans:"flame-sans";
    --font-flame-bold:"flame-bold";
    --font-flam-regular:"flame-regular";

}
